#01-Carregando dados
by Adilson Albino

In [0]:
#Carregando datasets
df1 = spark.read.format("csv").option("header", "True").load("dbfs:/FileStore/shared_uploads/adilsonalbin22@gmail.com/marca_carro.csv")
df2 = spark.read.format("csv").option("header", "True").load("dbfs:/FileStore/shared_uploads/adilsonalbin22@gmail.com/marcas_duplicadas.csv")
df3 = spark.read.format("csv").option("header", "True").load("dbfs:/FileStore/shared_uploads/adilsonalbin22@gmail.com/modelo_carro.csv")

In [0]:
print(df1.count())
print(df2.count())
print(df3.count())

56
1000
1000

In [0]:
#Visualizando os dados carregados nos dataframes
df1.show(10)
df2.show(10)
df3.show(10)

+------------+---------+
| marca_carro|cod_marca|
+------------+---------+
|       Acura|        1|
|Aston Martin|        2|
|        Audi|        3|
|      Austin|        4|
|         BMW|        5|
|     Bentley|        6|
|     Bugatti|        7|
|       Buick|        8|
|    Cadillac|        9|
|   Chevrolet|       10|
+------------+---------+
only showing top 10 rows

+------------+
| marca_carro|
+------------+
|      Toyota|
|       Acura|
|  Volkswagen|
|    Infiniti|
|        Ford|
|        Ford|
|    Plymouth|
|       Honda|
|  Land Rover|
|Aston Martin|
+------------+
only showing top 10 rows

+--------+------------+---------+---------+
|id_carro|modelo_carro|    preco|cod_marca|
+--------+------------+---------+---------+
|       1|      Avalon|$78401.95|       54|
|       2|         RDX|$95987.38|        1|
|       3|        Golf|$61274.55|       55|
|       4|          EX|$84981.12|       23|
|       5|      Escort|$77466.89|       17|
|       6|  Expedition|$84698.71|       17|
|       7|     Voyager|$95567.75|       42|
|       8|       Civic|$84749.22|       20|
|       9|    Defender|$98600.79|       29|
|      10|V8 Vantage S|$94791.61|        2|
+--------+------------+---------+---------+
only showing top 10 rows

In [0]:
#Caso o arquivo já exista, poder ser usado o comando MODE() com o parâmetro "overwrite" para sobrescrever os dados do arquivo atual
df1.write.format("csv").options(header="true").mode("overwrite").save("/aprendizado/marca_carro") 
df2.write.format("csv").options(header="true").mode("overwrite").save("/aprendizado/marcas_duplicadas") 
df3.write.format("csv").options(header="true").mode("overwrite").save("/aprendizado/modelo_carro")

In [0]:
#Podemos também utilizar o parâmetro "append" para adicionar novas linha no mesmo arquivo.
df1.write.format("csv").mode("append").save("/aprendizado/marca_carro")

In [0]:
#Carregando o arquivo salvo no dbfs
df_carro = spark.read.format("csv").options(header="true").load("/aprendizado/modelo_carro")
df_carro.show(5)

+--------+------------+---------+---------+
|id_carro|modelo_carro|    preco|cod_marca|
+--------+------------+---------+---------+
|       1|      Avalon|$78401.95|       54|
|       2|         RDX|$95987.38|        1|
|       3|        Golf|$61274.55|       55|
|       4|          EX|$84981.12|       23|
|       5|      Escort|$77466.89|       17|
+--------+------------+---------+---------+
only showing top 5 rows