#05-Duplicados e replace com SQL e pyspark

by Adilson Albino

In [0]:
#Importando dataset
df_carros = spark\
.read.format("csv")\
.option("header", True)\
.load("/aprendizado/modelo_carro")

df_carros.show(10)

+--------+------------+---------+---------+
|id_carro|modelo_carro|    preco|cod_marca|
+--------+------------+---------+---------+
|       1|      Avalon|$78401.95|       54|
|       2|         RDX|$95987.38|        1|
|       3|        Golf|$61274.55|       55|
|       4|          EX|$84981.12|       23|
|       5|      Escort|$77466.89|       17|
|       6|  Expedition|$84698.71|       17|
|       7|     Voyager|$95567.75|       42|
|       8|       Civic|$84749.22|       20|
|       9|    Defender|$98600.79|       29|
|      10|V8 Vantage S|$94791.61|        2|
+--------+------------+---------+---------+
only showing top 10 rows

#Utilizando SQL

In [0]:
#Criando uma tabela temporária para trabalhar com SQL
df_carros.createOrReplaceTempView("carros")

In [0]:
%sql
select distinct * from carros
limit 10

id_carro,modelo_carro,preco,cod_marca
3,Golf,$61274.55,55
4,EX,$84981.12,23
7,Voyager,$95567.75,42
2,RDX,$95987.38,1
8,Civic,$84749.22,20
5,Escort,$77466.89,17
1,Avalon,$78401.95,54
6,Expedition,$84698.71,17
9,Defender,$98600.79,29
10,V8 Vantage S,$94791.61,2

####Removendo ou substituindo valores com REPLACE

In [0]:
%sql
select 
  replace(preco, '$', 'R$ ') as preco 
from carros
limit 10

preco
R$ 78401.95
R$ 95987.38
R$ 61274.55
R$ 84981.12
R$ 77466.89
R$ 84698.71
R$ 95567.75
R$ 84749.22
R$ 98600.79
R$ 94791.61

#Utilizando pyspark?

In [0]:
#Eliminando linhas duplicadas
df_carros_pyspark = df_carros.distinct()

#Usando o drop
df_carros_pyspark = df_carros.drop()

#Os dois comando fazem a mesma coisa.

In [0]:
#Realizando substituições
from pyspark.sql.functions import *
df_carros_pyspark2 = df_carros
df_carros_pyspark2 = df_carros_pyspark2.withColumn("preco", regexp_replace("preco", "\$", ""))
df_carros_pyspark2.show(10)

+--------+------------+--------+---------+
|id_carro|modelo_carro|   preco|cod_marca|
+--------+------------+--------+---------+
|       1|      Avalon|78401.95|       54|
|       2|         RDX|95987.38|        1|
|       3|        Golf|61274.55|       55|
|       4|          EX|84981.12|       23|
|       5|      Escort|77466.89|       17|
|       6|  Expedition|84698.71|       17|
|       7|     Voyager|95567.75|       42|
|       8|       Civic|84749.22|       20|
|       9|    Defender|98600.79|       29|
|      10|V8 Vantage S|94791.61|        2|
+--------+------------+--------+---------+
only showing top 10 rows