<a href="https://colab.research.google.com/github/adilsonalbino/SQL-e-PYSPARK/blob/main/08_Substring%2C_right%2C_left_no_SQL_e_PySpark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

08-Substring, right, left no SQL e PySpark

by Adilson Albino

In [ ]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.1.tar.gz (317.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.0/317.0 MB 4.4 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.1-py2.py3-none-any.whl size=317488491 sha256=9a29aa4faf6a25973bbbd9587b5eba241cb03adc5247f0b108594afeb85f11a8
  Stored in directory: /root/.cache/pip/wheels/80/1d/60/2c256ed38dddce2fdd93be545214a63e02fbd8d74fb0b7f3a6
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.1

In [ ]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *

#Cria uma sparksession
spark = SparkSession.builder\
.appName("Lendo arquivos csv")\
.getOrCreate()

In [ ]:
df_carros = spark\
.read.format("csv") \
.option('header', True) \
.load("/content/modelo_carro.csv")

In [ ]:
#Criando uma tabela SQL
df_carros.createOrReplaceTempView("carros")

#Executando as funções substring, right e left com SQL
df_carros_sql = spark.sql("""
  SELECT
    MODELO_CARRO,
    SUBSTRING(MODELO_CARRO, 2, 4) AS SUBSTRING_COLUNA,
    RIGHT(MODELO_CARRO, 2) AS RIGHT_COLUNA,
    LEFT(MODELO_CARRO, 2) AS LEFT_COLUNA
  FROM carros
""")
df_carros_sql.show()

+-------------+----------------+------------+-----------+
| MODELO_CARRO|SUBSTRING_COLUNA|RIGHT_COLUNA|LEFT_COLUNA|
+-------------+----------------+------------+-----------+
|       Avalon|            valo|          on|         Av|
|          RDX|              DX|          DX|         RD|
|         Golf|             olf|          lf|         Go|
|           EX|               X|          EX|         EX|
|       Escort|            scor|          rt|         Es|
|   Expedition|            xped|          on|         Ex|
|      Voyager|            oyag|          er|         Vo|
|        Civic|            ivic|          ic|         Ci|
|     Defender|            efen|          er|         De|
| V8 Vantage S|            8 Va|           S|         V8|
|          C70|              70|          70|         C7|
|G-Series 1500|            -Ser|          00|         G-|
|       Legacy|            egac|          cy|         Le|
|          DB9|              B9|          B9|         DB|
|     Mulsanne|            ulsa|          ne|         Mu|
|           RX|               X|          RX|         RX|
|       Rabbit|            abbi|          it|         Ra|
|            Q|                |           Q|          Q|
|          S60|              60|          60|         S6|
|        Envoy|            nvoy|          oy|         En|
+-------------+----------------+------------+-----------+
only showing top 20 rows

In [ ]:
#Executando as funções substring, right e left com PYSPARK
df_carros_spark = df_carros
df_carros_spark = df_carros_spark \
.withColumn("SUBSTRING_COLUNA", substring("MODELO_CARRO", 2, 4)) \
.withColumn("RIGHT_COLUNA", expr("RIGHT(MODELO_CARRO, 2)")) \
.withColumn("LEFT_COLUNA", expr("LEFT(MODELO_CARRO, 2)"))
df_carros_spark.show()

+--------+-------------+---------+---------+----------------+------------+-----------+
|id_carro| modelo_carro|    preco|cod_marca|SUBSTRING_COLUNA|RIGHT_COLUNA|LEFT_COLUNA|
+--------+-------------+---------+---------+----------------+------------+-----------+
|       1|       Avalon|$78401.95|       54|            valo|          on|         Av|
|       2|          RDX|$95987.38|        1|              DX|          DX|         RD|
|       3|         Golf|$61274.55|       55|             olf|          lf|         Go|
|       4|           EX|$84981.12|       23|               X|          EX|         EX|
|       5|       Escort|$77466.89|       17|            scor|          rt|         Es|
|       6|   Expedition|$84698.71|       17|            xped|          on|         Ex|
|       7|      Voyager|$95567.75|       42|            oyag|          er|         Vo|
|       8|        Civic|$84749.22|       20|            ivic|          ic|         Ci|
|       9|     Defender|$98600.79|       29|            efen|          er|         De|
|      10| V8 Vantage S|$94791.61|        2|            8 Va|           S|         V8|
|      11|          C70|$97874.76|       56|              70|          70|         C7|
|      12|G-Series 1500|$71638.24|       10|            -Ser|          00|         G-|
|      13|       Legacy|$95850.12|       52|            egac|          cy|         Le|
|      14|          DB9|$86707.30|        2|              B9|          B9|         DB|
|      15|     Mulsanne|$70453.70|        6|            ulsa|          ne|         Mu|
|      16|           RX|$46752.60|       30|               X|          RX|         RX|
|      17|       Rabbit|$78048.08|       55|            abbi|          it|         Ra|
|      18|            Q|$65193.95|       23|                |           Q|          Q|
|      19|          S60|$65396.98|       56|              60|          60|         S6|
|      20|        Envoy|$68994.97|       18|            nvoy|          oy|         En|
+--------+-------------+---------+---------+----------------+------------+-----------+
only showing top 20 rows